<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.examples.abhi"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon1" android:label="@string/app_name">
        <activity android:name=".SpeechFlickrLoad1Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WishScreen">
            <intent-filter>
                <action android:name="com.examples.abhi.WISH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".FlickrLoad">
            <intent-filter>
                <action android:name="com.examples.abhi.FLICKRLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SpeechRecognition" 
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.examples.abhi.SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Text2Speech"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.examples.abhi.TTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ExitScreen">
            <intent-filter>
                <action android:name="com.examples.abhi.EXITSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
    </application>
</manifest>